body {
    background-color: aqua;
  }
  
  .pieStyles,
  .buttonStyles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .btn,
  .card {
    margin: 10px;
  }
  
  form {
    margin: 20px;
  }
  